.card-wrapper {
    padding: 15px !important;
    position:static;
}

.p-card {
    position:relative;
    border-radius: 5px;
    box-shadow:0px 3px 3px rgba(0,0,0,0.3);
    width:100% - 30px;
}

.card-content {
    text-align:center;
}

.p-grid .p-card {
    height:100%;
}