.image-overlay-wrapper {
    display:flex;
}

.image-overlay {
    width:100%;
    height:100%;
    display: table;
    vertical-align: middle;
}

.image-overlay .image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-overlay .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.image-overlay .content h1 {
    font-size:2.2em
}

.image-overlay .content {
    color: var(--background-color) !important;
    text-align:center;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    padding: 8%;
    padding-right:15%;
    padding-left: 15%;
    font-size:1.3em;
    position:relative;
    display: table-cell;
    vertical-align: middle;
}

.image-overlay .content .p-button {
    background-color: transparent;
    border: 3px solid white;
    font-size: 18px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.image-overlay .content .p-button:hover {
    background-color: var(--primary-color);
    border: 3px solid white;
}