#titlebar {
    width:100%;
    height:60px;
    box-shadow:0px 3px 3px rgba(0,0,0,0.2);
    text-align:center;
    background-color: var(--background-color);
    z-index:100000;
    position: fixed;
    top: 0;
}
    
#titlebar > #hamburger-button {
    margin:15px;
    font-size:30px;
    float:left;
    cursor:pointer;
    color: var(--primary-color);
    display: block;
    position: absolute;
}
    
#titlebar > img {
    padding: 5px;
    height: 100%;
    user-select: none
}

#titlebar > .social {
    font-size:25px;
    height:100%;
    float:right;
    padding:15px;
    position: absolute;
    right:0px;
    top:0px;
}

#titlebar .social-icon {
    color: gray;
    margin:2px;
    display:inline-block;
    cursor:pointer;
}

#titlebar .facebook-icon:hover {
    color: rgb(24,119,241);
}

#titlebar .instagram-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#titlebar .youtube-icon:hover {
    color: rgb(205,32,31);
}

#sidebar {
    padding:0px;
}

#sidebar-menu {
    padding:0px;
    margin-top:60px;
    box-shadow: none !important;
}

#sidebar-menu .p-panelmenu-header {
    background-color:none;
    border:none;
    border-radius:0px;
    margin-top:0px;
    box-shadow: none;
}

#sidebar-menu .p-panelmenu-header a {
    background-color:var(--background-color);
    border:none;
    border-radius:0px;
    margin:0px;
    box-shadow: none !important;
}

#sidebar-menu .p-panelmenu-content {
    border:none;
    box-shadow: none !important;
}

#sidebar-menu .p-menuitem-link {
    box-shadow: none !important;
}

#sidebar-menu .p-panelmenu-header span {
    color:var(--primary-color);
}
