name: Deploy to GCP

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:

    # Checkout Master Branch
    - name: Checkout
      uses: actions/checkout@master
    
    # Copy to Google Cloud
    - name: Copy
      uses: actions-hub/gcloud@master
      env:
          PROJECT_ID: civil-oarlock-261922
          APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_CLOUD_CREDENTIALS }}
          CLI: gsutil
      with:
          args: rsync -R website gs://www.brandonfallin.com
